

img {
    border: 0;
}

.img_bg {
    position: absolute;
    top: 0;
    /*left: 50%;*/
    width: 100%;
    /*margin-left: -960px;*/
    height: 100%;
}

._info_div {
    width: 964px;
    height: 210px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

._info_img {
    width: 964px;
    height: 210px;
}



